<h1>Home page</h1>

<section>
    <label>Name that burger</label>
</section>
<section>
    <input type="text" name="burger">
    <button class='create'>Create burger</button>
</section>

<section>
    <button class="update">Update burger</button>
</section>

<section>
    <button class="display-all">Display burgers</button>
</section>
