
<header>
    <h1>
        Eat-A-Burger
    </h1>
</header>


<section id="create-burger">
    <label>Create Burger</label>
    <input type="text" name="burger">
    <button class='create'>Create</button>
</section>

<section id="burger-content"></section>